# FPN Tag Configuration
fpn_tag:
    model:
        tag_class:     Fogs\TaggingBundle\Entity\Tag
        tagging_class: Fogs\TaggingBundle\Entity\Tagging


# Assetic Configuration
assetic:
    assets:
        tagging_css:
            inputs:
              - "%kernel.root_dir%/../vendor/max-favilli/tagmanager/tagmanager.css"
            output: css/tagging.css
        typeahead_css:
            inputs:
              - @FogsTaggingBundle/Resources/public/typeahead.css
            output: css/typeahead.css
        typeahead_js:
            input: "%kernel.root_dir%/../vendor/twitter/typeahead.js/dist/typeahead.jquery.min.js"
            output: js/typeahead.min.js
        tagging_js:
            inputs: 
              - "%kernel.root_dir%/../vendor/max-favilli/tagmanager/tagmanager.js"
              - @FogsTaggingBundle/Resources/public/tagging.js
            output: js/tagging-bundle.js

